<!DOCTYPE html>
<html lang = "en">
   <head>
      <script src = "../static/d3/d3.min.js"></script>
	  <script src="../static/d3/d3v4.js"></script>
	  <script src="../static/d3/jquery-3.2.1.min.js"></script>
	  <script src="../static/lineGraph.js"></script>
	   <script src="../static/parallelCoordinates.js"></script>
	   <script src="../static/bubble.js"></script>
	  <script src="../static/mdsScatter.js"></script>
	  <script src="../static/multithumb-slider.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <link rel="icon" 
      type="image/png" 
      href="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png">
      <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen"/>
	  <link rel="stylesheet" type="text/css" href="../static/multithumb-slider.css" media="screen"/>
   </head>
   <body>
      <h1 class = "retroshadow"> Ames Housing Dataset</h1>
      <div class="slider">
          <div class="slider-component">OverallQual
            <div class="aria-widget-slider">
            <div class="rail-label min">0</div>
            <div class="rail" style="width: 100px;">
    <img id="minOverallQual"
         src="../static/min-arrow.png"
         role="slider"
         tabindex="0"
         class="min thumb"
         aria-valuemin="1"
         aria-valuenow="1"
         aria-valuemax="10">
    <img id="maxOverallQual"
         src="../static/max-arrow.png"
         role="slider"
         tabindex="0"
         class="max thumb"
         aria-valuemin="1"
         aria-valuenow="10"
         aria-valuemax="10">
  </div>
            <div class="rail-label max">10</div>
            </div>
          </div>
        <div class="slider-component">SalePrice
            <div class="aria-widget-slider">
            <div class="rail-label min">0</div>
            <div class="rail" style="width: 100px;">
    <img id="minOverallQual"
         src="../static/min-arrow.png"
         role="slider"
         tabindex="0"
         class="min thumb"
         aria-valuemin="1"
         aria-valuenow="1"
         aria-valuemax="500000">
    <img id="maxOverallQual"
         src="../static/max-arrow.png"
         role="slider"
         tabindex="0"
         class="max thumb"
         aria-valuemin="1"
         aria-valuenow="500000"
         aria-valuemax="500000">
  </div>
            <div class="rail-label max">10</div>
            </div>
        </div>
      </div>
      <div class="graph-class">
          <div class="graph-class-left">
              <div id="dcm-div" class="dcm-class"></div>
          </div>
          <div class="graph-class-right">
              <div id="parallel-div" class="parallel-class"></div>
              <div id="line-div" class="line-class"></div>
            <div id="bubble-div" class="bubble-class"></div>
          </div>

      </div>
      <script type="text/javascript">
          drawInitialParallelGraph();
          bubble_test();
          drawMDSscatter("euclidean");
          drawInitialLineGraph();
      </script>
   </body>
</html>